.happy-client-section {
  height: 50vh;
  background-color: rgb(30, 149, 149);
  padding:60px;
  padding-bottom: 100px;
  .section-header {
    
    h2 {
      text-align: center;
      font-size: 35px;
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 40px;
      &::before {
        content: "";
        width: 60px;
        height: 2px;
        background: #424242;
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
      }
    }
    p {text-align: center;
      max-width: 555px;
      margin: auto;
      font-size: 14px;
      line-height: 26px;
      color: #ffffff;
      font-family: "Poppins", sans-serif;
      letter-spacing: 0.28px;
    }
  }
  .happy-client-boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .box {
      display: flex;
      align-items: center;
      gap: 20px;
      i {
        font-size: 40px;
        color: rgb(30, 149, 149);
        background-color: white;
        padding: 15px;
        border: 5px solid rgb(124, 195, 195);
        border-radius: 50%;
      }
      .text {
        color: white;
        h3 {
          font-size: 30px;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
        }
      }
    }
  }
}
